@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(211, 211, 211, 0.257);
}

.container {
  width: 100vw;
  height: 100vh;
}

header {
  width: 96%;
  height: 8%;
  float: right;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1%;
  box-shadow: 0px 2px 0px 1px lightgray;
  // 이 부분은 문제 생기면, 지우자
  margin-bottom: 10px;
}

.search {
  display: flex;
  width: 30%;
  height: 80%;
}

.search input {
  width: 50%;
  transition: all 1s;
  // border-radius: 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.search input:focus {
  width: 100%;
}

.search-itag {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 3%;
  color: white;
  cursor: pointer;
  // border-radius: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.outer-for-md {
  display: none;
}

.header-right {
  display: flex;
}

.header-right > div,
.header-right > p {
  margin: 0px 10px;
  color: gray;
  font-size: 1.2rem;
}

nav {
  float: left;
  width: 4%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: blue;
  position: fixed;
  transition: all 1s;
}

nav:hover {
  width: 12.4%;
  display: flex;
  justify-content: center;
}

nav:hover .nav-list p {
  transform: translateX(0px);
  transition: all 0.5s;
  cursor: pointer;
}

nav:hover .nav-container {
  margin-left: 0;
}

.nav-container {
  color: white;
  margin-top: 10px;
  margin-left: 30%;
}

.nav-list {
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-list i {
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-list p {
  transform: translateX(-150px);
}

main {
  margin-right: 1%;
  float: right;
  width: 94%;
  height: 92%;
}

.title {
  grid-area: 타이틀;
  font-size: 35px;
  margin: 0;
}

.card1,
.card2,
.card3,
.card4 {
  border-radius: 5%;
  background-color: white;
  display: flex;
  padding: 1% 5%;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.card-left {
  flex-grow: 3;
}

.card-left > p {
  font-size: 24px;
  font-weight: bold;
}

.card-left > h3 {
  font-size: 20px;
  color: gray;
}

.card-right {
  flex-grow: 1;
  font-size: 3.1rem;
  color: gray;
}

.card1 {
  grid-area: 카드1;
  border-left: 4px solid skyblue;
}

.card-itag {
  display: flex;
  align-items: center;
}

.card2 {
  grid-area: 카드2;
  border-left: 4px solid yellow;
}

.card3 {
  grid-area: 카드3;
  border-left: 4px solid blue;
}

.card4 {
  grid-area: 카드4;
  border-left: 4px solid orange;
}

.chart {
  grid-area: 차트;
  background-color: white;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.chart h3 {
  background-color: rgba(211, 211, 211, 0.257);
  padding: 2%;
  margin: 0;
  font-size: 1.5rem;
}

.tasks {
  grid-area: 테스크;
  background-color: white;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.task-container {
  width: 100%;
  height: 100%;
}

.task-container h3 {
  padding-left: 5%;
  background-color: rgba(211, 211, 211, 0.257);
  margin: 0;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 25%;
  font-size: 1.5rem;
}

.tasks-contents {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height: 25%;
  font-size: 1.5rem;
}

.task-line {
  border-bottom: 2px solid grey;
}

.task-number {
  background-color: blue;
  border-radius: 80px;
  color: white;
  padding: 0% 5%;
  display: flex;
  align-items: center;
}

.task-number p {
  margin: 0;
  padding: 0;
}

.empty {
  grid-area: 빈공간;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7% 18.8% 34.1% 34.1%;
  grid-gap: 2%;
  grid-template-areas: "타이틀 타이틀 타이틀 타이틀 타이틀 타이틀 타이틀 타이틀" "카드1 카드1 카드2 카드2 카드3 카드3 카드4 카드4" "차트 차트 차트 차트 차트 테스크 테스크 테스크" "차트 차트 차트 차트 차트 빈공간 빈공간 빈공간";
}

@media screen and (max-width: 768px) {
  header .search,
  header .header-right {
    display: none;
  }

  .outer-for-md {
    appearance: none;
    display: block;
    display: flex;
    justify-content: right;
    width: 100%;
    transform: translateX(-7%);
  }

  .for-md {
    border: 2px solid lightgray;
    padding: 5px 14px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav {
    grid-area: 나브;
    width: 8%;
    padding-right: 1%;
    height: 100vh;
    z-index: 1;
  }
  nav:hover {
    width: 20%;
  }

  header {
    grid-area: 헤더;
    width: 100%;
    float: left;
  }
  .grid-container {
    transform: translateX(40px);
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 150px 150px 150px 400px 250px 100px;
    grid-gap: 2%;
    grid-template-areas:
      "타이틀 타이틀 타이틀 타이틀 타이틀 타이틀 타이틀 타이틀"
      "카드1 카드1 카드1 카드1 카드1 카드1 카드1 카드1 "
      "카드2 카드2 카드2 카드2 카드2 카드2 카드2 카드2 "
      "카드3 카드3 카드3 카드3 카드3 카드3 카드3 카드3 "
      "카드4 카드4 카드4 카드4 카드4 카드4 카드4 카드4 "
      "차트 차트 차트 차트 차트 차트 차트 차트 "
      "테스크 테스크 테스크 테스크 테스크 테스크 테스크 테스크 "
      "빈공간 빈공간 빈공간 빈공간 빈공간 빈공간 빈공간 빈공간 ";
  }

  .chart {
    margin-top: 20px;
  }
  .tasks {
    margin-top: 10px;
  }
}
